# db connection values

DB_USERNAME="username"
DB_PASSWORD="password"
DB_DATABASE_NAME="db"

# The HTTP port to run the application on
SERVER_PORT=8000

# The environment to run the application in
NODE_ENV=development